{% extends 'layout0.html' %}
{% block title %}Charity Donaion{% endblock %}
{% block content %}

    <div class="row">
    <div class="col-md-12">
        <div class="slideshow-container">
            <div class="mySlides fade">
              <div class="numbertext">1 / 4</div>
              <img alt="" height="570px" width="1335px"  src="{{ url_for('static',filename='img/title1.jpg') }}">
            </div>
            <div class="mySlides fade">
              <div class="numbertext">2 / 4</div>
              <img alt="" height="570px" width="1335px"  src="{{ url_for('static',filename='img/title2.jpg') }}">
            </div>

            <div class="mySlides fade">
              <div class="numbertext">3 / 4</div>
              <img alt="" height="570px" width="1335px"  src="{{ url_for('static',filename='img/title3.jpg') }}">
            </div>

            <div class="mySlides fade">
              <div class="numbertext">4 / 4</div>
              <img alt="" height="570px" width="1335px"  src="{{ url_for('static',filename='img/bg-4.jpg') }}">
            </div>

        </div>
    </div>
        <br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>


              <br>
            <!-- chart morris start -->
            <div class="col-lg-12">
              <section class="panel">
                <header class="panel-heading">
                  <h3>About Us </h3>
                      </header>
                      <div class="panel-body">
                        <div class="tab-pane" id="chartjs">
                      <div class="row">
                          <!-- Line -->
                          <div class="col-lg-6">
                              <section class="panel">
                                      <img alt="" height="372" width="650" src="{{ url_for('static',filename='img/about.jpg') }}">
                              </section>
                          </div>
                          <!-- Bar -->
                          <div class="col-lg-6">
                              <section class="panel">
                                  <div class="panel-body text-left">
                                      Hii Vaghesh Write here related to about us.
                                  </div>
                              </section>
                          </div>
                      </div>
                  </div>
                      </div>
              </section>
            </div>
          </div>

            <div class="row">
            <!-- chart morris start -->
            <div class="col-lg-12">
              <section class="panel">
                <header class="panel-heading">
                  <h3>How Our Portal Helps You ? </h3>
                      </header>
                      <div class="panel-body">
                        <div class="tab-pane" id="chartjs">
                      <div class="row">
                          <!-- Line -->
                          <div class="col-lg-6">
                              <section class="panel">
                                      <img alt="" height="413" width="650" src="{{ url_for('static',filename='img/bg-2.jpg') }}">
                              </section>
                          </div>
                          <!-- Bar -->
                          <div class="col-lg-6">
                              <section class="panel">
                                  <div class="panel-body text-left">
                                      <span> Current systems lack transparency in the field of Charity & Donations. In the case of transactions associated with Donations made to different Organization there's no proper maintenance of records and because of involvement of some corrupt peoples within the organization, has made people lose trust in this social cause.</span>
                                  </div>
                                  <br>
                                  <div class="panel-body text-left">
                                     <span> The donor is unaware of whether their funds are being utilized properly or not. Corruption is the other reason that leads the donor to lose trust in charities. The proposed system helps social organizations to run various projects for social causes transparently without the involvement of third parties, using smart contract-based incentives which help to confirm their impact is verified without the interaction of third parties, and at the same time, it is accessible to everyone.</span>
                                  </div>
                                  <br>
                                  <div class="panel-body text-left">
                                     <span> This makes it easy for donors, organizations, and other participating vendors to track their transactions and restore their trust in the commitment to such social organizations. The system will help build trust with donors, recipients, and other stakeholders involved in the process of Charity and ensure that the donation reaches the intended person while improving the total administration costs, speed, and efficiency.</span>
                                  </div>
                              </section>
                          </div>
                      </div>
                  </div>
                      </div>
              </section>
            </div>
          </div>


              <!-- chart morris start -->


              <!-- chart morris start -->
    <div class="row">
          <div class="col-lg-6">
            <div class="recent">
              <h3>Send us a message</h3>
            </div>
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>

              <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Send Message</button></div>
            </form>
          </div>

          <div class="col-lg-6">
            <div class="recent">
              <h3>Get in touch with us</h3>
            </div>
            <div class="">
              <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum.</p>
              <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum.</p>

              <h4>Address:</h4>Little Lonsdale St, New York<br>
              <h4>Telephone:</h4>345 578 59 45 416</br>
              <h4>Fax:</h4>123 456 789
            </div>
          </div>
        </div>



{% endblock %}